// hard reset file
@import "normalize";
@import "skeleton";

// variables

$main: #FFD000;
$main-hover: darken($main, 5%);
$white: #fff;
$background: #ededed;
$text: #47525D;
$gray: #D9DDE2;
$light-gray: lighten($gray, 10%);

$border-radius: 2px;
$transition: all ease-in-out 0.2s;
$shadow-mess: 2px 2px 10px -7px rgba(0,0,0,0.75);
$shadow: 2px 2px 10px -6px rgba(0,0,0,0.75);



// base elements
* { 
	box-sizing: border-box;
}

html {
	height: 100%;
}

body { 
	height: 100%;
	font-family: 'Open Sans', Arial, Sans-serif; 
	font-size: 15px;
	color: $text;
}

a, a:active, a:visited {
	text-decoration: none;
	color: $main;
	&:hover {
		color: $main-hover;
	}
}

p {
	margin: 0;
}

input, textarea {
	padding: 3px 5px;
	margin: 0;
	border: 1px solid $gray;
	border-radius: 2px;
	background-color: $white;
	color: $text;
}

blockquote {
	background-color: $light-gray;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
}



// utilities

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.button {
	display: inline-block;
	background-color: transparent;
	padding: 4px 10px;
	border: none;
	border-radius: $border-radius;
	color: $main;
	&:hover {
		color: $main-hover;
	  // background-color: $main;
	}
}

#wrapper {
	background: rgba(227,227,227,1);
	background: -moz-linear-gradient(45deg, rgba(227,227,227,1) 0%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(227,227,227,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(45deg, rgba(227,227,227,1) 0%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(45deg, rgba(227,227,227,1) 0%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(227,227,227,1) 0%, rgba(237,237,237,1) 100%);
  background: linear-gradient(45deg, rgba(227,227,227,1) 0%, rgba(237,237,237,1) 100%);
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	border-radius: $border-radius;
	box-shadow: $shadow;
	z-index: 50;
	&:after {
      content: "";
	  display: table;
	  clear: both;
	}
}

/* 

	HEADER

 */

#masthead {
	color: $white;
	padding: 3px;
	background-color: $main;
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
	box-shadow: $shadow;
	#header-svg {
		display: inline-block;
		width: 100px;
		padding: 5px 0 0 12px;
		svg {
			fill: $white;
		}
	}
	#amount-in-chat {
		float: right;
		margin: 13px 20px 0 0;
	}
}

/* 

	MESSAGES

 */

#messages {
	position: absolute;
	top: 58px;
	bottom: 66px;
	width: 100%;
	overflow: scroll;
	.message-box {
		width: 100%;
		margin-top: 3px;
		&:first-of-type {
			margin-top: 0;
		}
		.right-side, .left-side {
			margin: 0 3px;
			padding: 3px 10px;
			display: inline-block;
			max-width: 300px;
			height: 100%;
			box-shadow: $shadow-mess;
			border-radius: $border-radius;
			background-color: $white;
			overflow: hidden;
		}
		.right-side {
			float: right;
			.time {
				float: right;
			}
		}
		.left-side {
			float: left;
			.time {
				float: none;
			}
		}
		.username {
			display: inline-block;
			font-weight: bold;
			margin-right: 5px;
		}
		.time {
			display: inline-block;
			color: $gray;
			font-weight: 300;
		}
		.message {}
		.message.joined {
		
		}
	}
	.message-box.notice {
		text-align: center;
		.left-side {
			float: none !important;
		}
	}
	
}



/* 

	USER INPUT

 */

#message-form {  
	width: 100%;
	position: absolute;
	bottom: 0;
	form {
		position: relative; 
		height: 60px;
		margin: 3px;
		background-color: $white;
		box-shadow: $shadow;
		border-radius: $border-radius;
		input {
			border: 0; 
			padding: 10px 0 10px 10px; 
			margin: 12px 0;
			float: left;
			width: 250px;
			width: 82%;
		}
		button {
			height: 100%;
			margin: 0;
			padding-right: 15px;
			padding-left: 5px;
			border: none; 
			float: right;
		}
	}
}


/* 
	
		NAME BOX

 */

.name-box-window {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: rgba(0,0,0,0.8);
	//position: relative;
		#name-box {
		display: inline-block;
		width: 100%;
		height: 100%;
		padding: 10px 20px;
		text-align: center;
		background-color: $white;
		#name-svg {
			max-width: 250px;
			margin: 20px auto;
			svg {
				fill: $text;
			}
		}
		#disclaimer {
			div {
				max-width: 300px;
				margin: 0 auto;
			}
		}
		form {
			width: 100%;
			margin: 0;
			position: fixed;
			bottom:0;
			background-color: $white;
			input {
				border: 0;
				border-bottom: 1px solid $gray;
				border-radius: 0;
			}
		}
		
		#name-error {
			color: #FF633D;
		}
	}
}



/* 

	USERS LIST

 */

#users-online {
	min-width: 200px;
	padding: 20px;
	position: absolute;
	left: 450px;
	top: 0;
	background-color: $white;
	box-shadow: $shadow;
	border-radius: $border-radius;
	ul {
		li {
			list-style-type: none;
			margin-bottom: 5px;
		}
	}
}

/* 

	MADE BY

 */

#made-by {
	display: none;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	p {
			color: #fff;
			font-weight: 100;
			font-size: 75%;
			text-shadow: 2px 2px 3px rgba(0,0,0,0.75);
	}
}


// on devices wider than 550 px
@media screen and (min-width: 550px) {
	
	// body desktop
	body {
		padding-top: 0;
		background-image: url(/img/view-sharp.jpg);
		background-position: center;
		background-size: cover;
	}

	// wrapper desktop
	#wrapper {
		margin: 0 auto;
		position: relative;
		top: 50%;
		opacity: 0;
		transform: translateY(-50%);
		max-width: 350px;
		max-height: 600px;
	}

	// wrapper animation
	#wrapper.slide-in {
		animation-duration: 0.5s;
  	animation-name: slidein;
  	animation-timing-function: ease;
  	opacity: 1 !important;
	}

	@keyframes slidein {
    0%   {
    	top: 80%;
    	opacity: 0;
    }
    70%  {
    	top: 48%;
    	
    }
    100% {
    	top: 50%;
    	opacity: 1;
    }
	}

	// messages box desktop
	#messages {
		bottom: 56px;
	}

	// message form desktop
	#message-form form {
		height: 50px;
		input {
			margin: 7px 0;
			width: 285px;
		}
	}

	// name box desktop
	#name-box {
		height: auto !important;
		width: auto !important;
		max-width: 340px;
		margin: 0 auto;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: $border-radius;
		form#name-form {
			position: initial;
		}
	}

	#made-by {
		display: block;
	}


}



selector:-webkit-full-screen {
  display: block; // displays the element only when in fullscreen
}

selector {
  display: none; // hides the element when not in fullscreen mode
}

selector:-moz-full-screen {
  display: block; // hides the element when not in fullscreen mode
}

selector {
  display: none; // hides the element when not in fullscreen mode
}

selector:-ms-fullscreen {
  display: block;
}

selector {
  display: none; // hides the element when not in fullscreen mode
}

selector:fullscreen {
  display: block;
}

selector {
  display: none; // hides the element when not in fullscreen mode
}