
      <div id="wrapper">

{{!-- header --}}
<section id="top">
    <header id="masthead">
        <div class="svg" id="header-svg">{{> plebchat }}</div>
        <div id="amount-in-chat">people in chat: </div>
    </header>
</section>

{{!-- messages --}}
<section id="middle">
    <div id="messages">

    <div class="message-box">
        <div class="message">Welcome to the chat! share the url to talk with people.</div>
        {{!-- messages wil append here --}}
    </div>
</section>
    

{{!-- user input --}}
<section id="bottom">
    <div id="message-form">
        <form action="">
          <input type="text" id="message-input" autocomplete="off">
          <button type="submit" class="button">Send</button>
        </form>
    </div>
</section>

</div>

{{!-- username popup --}}
<section class="name-box-window">
    <div id="name-box">
            <div class="svg" id="name-svg">{{> plebchat }}</div>
            <div id="disclaimer">
                <h5>Disclaimer:</h5>
                <p>This is a practice project of mine that got a little out of hand. Chances are that nobody is online. Share this link</p><blockquote>http://localhost:333</blockquote><p>with someone to give it a proper test. Any feedback is appreciated so you're welcome to hit me up at <a href="mailto:hello@wilbo.io">hello@wilbo.io</a></p>
                <br>
                <h5>Have fun!</h5>
            </div>
        <form action="" id="name-form">
            <input type="text" id="name-input" autocomplete="off" placeholder="pick a username" />
            <button type="submit" class="button">Start</button>
            <div id="name-error"></div>
        </form> 
    </div>
</section>

